mixin nav(className, items, activeItem)
	nav(class=`${className}`)
		li(class=`${className}__item`) Новости на сайте
		each item in items
			li(class=`${className}__item`)
				a(class=`${className}__link`, href=`${item.url}`)= item.title


mixin social(className, items)
	ul(class=`${className}`)
		each item in items
			li(class=`${className}__item`)
				a(href=`${item.url}`, class=`social__link fa ${item.className}`, target="_blank")

