extends ../layout

block variables
    - const title = 'Чат переписки'
    - const name_css = 'messenger'

block content
    .messenger
        main.messenger__left
            header.messenger__header
                .messenger__header__photo
                    img(
                        class="messenger__header__image"
                        src=""
                        )
                .messenger__header__hamburger.js-hamburger-profile
                    i.fa.fa-bars
            .messenger__search
                input(class="messenger__search__input" placeholder="Поиск")
            ul.messenger__items
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info 10:49
                        span.messenger__item__number 1
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Киноклуб
                        .messenger__item__text
                            span Вы:
                            | стикер
                        span.messenger__item__info 10:49
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src="images/static_cat.jpg"
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Друзья, у меня для вас особенный выпуск новостей!...
                        span.messenger__item__info Пт
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src="images/static_cat.jpg"
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Друзья, у меня для вас особенный выпуск
                        span.messenger__item__info Ср
                        span.messenger__item__number 2
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
        aside.messenger__right
            header.messenger__header.messenger__header_right
            .messenger__content.messenger__content_center
                p.messenger__text Пожалуйста, выберите чат, чтобы начать обмен сообщениями
