extends ../main.layout.pug

block content
    main.messenger
        .messenger__left
            header.messenger__header
                .messenger__header__photo
                    img(
                        class="messenger__header__image"
                        src=""
                        )
                .messenger__header__humburger
                    i.fa.fa-bars
            .messenger__search
                input(class="messenger__search__input" placeholder="Поиск")
            .messenger__items
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        .messenger__item__info 10:49
                        .messenger__item__number 1
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Киноклуб
                        .messenger__item__text
                            span Вы:
                            | стикер
                        .messenger__item__info 10:49
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src="images/static_cat.jpg"
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Друзья, у меня для вас особенный выпуск новостей!...
                        .messenger__item__info Пт
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src="images/static_cat.jpg"
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Друзья, у меня для вас особенный выпуск
                        .messenger__item__info Ср
                        .messenger__item__number 2
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        .messenger__item__info Ср
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        .messenger__item__info Ср
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        .messenger__item__info Ср
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        .messenger__item__info Ср
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        .messenger__item__info Ср
                .messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        .messenger__item__info Ср
        .messenger__right
            header.messenger__header.messenger__header_right
                .messenger__header__humburger
                    i.fa.fa-bars
            .messenger__content
                p.messenger__text Пожалуйста, выберите чат, чтобы начать обмен сообщениями