extends ../layout

block variables
    - const title = 'Чат переписки'
    - const name_css = 'messenger'

block content
    .messenger
        main.messenger__left
            header.messenger__header
                .messenger__header__photo
                    img(
                        class="messenger__header__image"
                        src=""
                    )
                .messenger__header__hamburger.js-hamburger-profile
                    i.fa.fa-bars
            .messenger__search
                input(class="messenger__search__input" placeholder="Поиск")
            ul.messenger__items
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info 10:49
                        span.messenger__item__number 1
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Киноклуб
                        .messenger__item__text
                            span Вы:
                            | стикер
                        span.messenger__item__info 10:49
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src="images/static_cat.jpg"
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Друзья, у меня для вас особенный выпуск новостей!...
                        span.messenger__item__info Пт
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item.messenger__item_active
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src="images/static_cat.jpg"
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Друзья, у меня для вас особенный выпуск
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
                li.messenger__item
                    .messenger__item__photo
                        img(
                            class="messenger__item__image"
                            src=""
                        )
                    .messenger__item__body
                        .messenger__item__title Андрей
                        .messenger__item__text Изображение
                        span.messenger__item__info Ср
                        span.messenger__item__arrow.js-hamburger-arrow
                            i.fa.fa-caret-down
        aside.messenger__right
            header.messenger__header.messenger__header_right
                .messenger__header__hamburger.js-hamburger-chat
                    i.fa.fa-bars
            .messenger__content
                .messenger__chat.js-chart
                    .messenger__chat__body-empty
                    .messenger__chat__body
                        .messenger__chat__date Сегодня
                        .messenger__chat__in
                            | Страница с чатом. Два блока: слева — список с чатами, но один из них должен быть активным; справа — блок с «лентой» переписки активного чата. Нужно отображать следующую информацию о сообщениях: дата отдельного сообщения, прочитано ли, дата переписки (например, 19 июля: «лента» сообщений за этот день). Необходимо выделять собеседников (цветом или расположением сообщений), а также само сообщение. Нужно уметь отправлять и отображать: обычный текст, Emoji, картинки, видео. Также должна быть возможность удалить чат. Обратите внимание, что этого нет в примере. Даже если решите использовать макет от дизайнеров Практикума, вам нужно будет самостоятельно доработать интерфейс. Например, выбрать как будет выглядеть кнопка или иконка удаления чата (а может ссылка или меню), где она будет располагаться, будет ли модальное окно с вопросом «Вы уверены?» и как оно будет выглядеть, что будет происходить после удаления.
                            span.messenger__chat__time 09:48

                        .messenger__chat__in
                            | Страница с чатом. Два блока: слева — список с чатами, но один из них должен быть активным; справа — блок с «лентой» переписки активного чата. Нужно отображать следующую информацию о сообщениях: дата отдельного сообщения, прочитано ли, дата переписки (например, 19 июля: «лента» сообщений за этот день). Необходимо выделять собеседников (цветом или расположением сообщений), а также само сообщение. Нужно уметь отправлять и отображать: обычный текст, Emoji, картинки, видео. Также должна быть возможность удалить чат. Обратите внимание, что этого нет в примере. Даже если решите использовать макет от дизайнеров Практикума, вам нужно будет самостоятельно доработать интерфейс. Например, выбрать как будет выглядеть кнопка или иконка удаления чата (а может ссылка или меню), где она будет располагаться, будет ли модальное окно с вопросом «Вы уверены?» и как оно будет выглядеть, что будет происходить после удаления.
                            span.messenger__chat__time 09:48
                        .messenger__chat__in
                            | Страница с чатом. от дизайнеров Практикума, вам нужно будет самостоятельно доработать интерфейс. Например, выбрать как будет выглядеть кнопка или иконка удаления чата (а может ссылка или меню), где она будет располагаться, будет ли модальное окно с вопросом «Вы уверены?» и как оно будет выглядеть, что будет происходить после удаления.
                            span.messenger__chat__time 09:48
                        .messenger__chat__in
                            .messenger__chat__image
                                img(
                                    class=""
                                    src="images/static_cat.jpg"
                                )
                            span.messenger__chat__time 10:01
                        .messenger__chat__out
                            | Спасибо
                            span.messenger__chat__time.messenger__chat__time_active
                                |11:15
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15")
                                    path(fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z")
                footer.editor
                    .editor__file.js-hamburger-files
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24")
                            path(fill="currentColor" d="M1.816 15.556v.002c0 1.502.584 2.912 1.646 3.972s2.472 1.647 3.974 1.647a5.58 5.58 0 0 0 3.972-1.645l9.547-9.548c.769-.768 1.147-1.767 1.058-2.817-.079-.968-.548-1.927-1.319-2.698-1.594-1.592-4.068-1.711-5.517-.262l-7.916 7.915c-.881.881-.792 2.25.214 3.261.959.958 2.423 1.053 3.263.215l5.511-5.512c.28-.28.267-.722.053-.936l-.244-.244c-.191-.191-.567-.349-.957.04l-5.506 5.506c-.18.18-.635.127-.976-.214-.098-.097-.576-.613-.213-.973l7.915-7.917c.818-.817 2.267-.699 3.23.262.5.501.802 1.1.849 1.685.051.573-.156 1.111-.589 1.543l-9.547 9.549a3.97 3.97 0 0 1-2.829 1.171 3.975 3.975 0 0 1-2.83-1.173 3.973 3.973 0 0 1-1.172-2.828c0-1.071.415-2.076 1.172-2.83l7.209-7.211c.157-.157.264-.579.028-.814L11.5 4.36a.572.572 0 0 0-.834.018l-7.205 7.207a5.577 5.577 0 0 0-1.645 3.971z")
                    .editor__body
                        .editor__value(contenteditable="true" spellcheck="true")
                    .editor__btn
                        i.fa.fa-long-arrow-right