extends ../layout

block variables
    - const title = 'Профиль: изменение пароля'
    - const name_css = 'profile'

block content
    main.profile
        .profile__left
            .profile__left__arrow
                i.fa.fa-long-arrow-left
        .profile__form
            .profile__heaed
                .profile__photo
                    img(class="profile__image" src="")
                .profile__name Инна
            .profile__items
                .profile__item
                    .profile__label Старый пароль
                    input.profile__value(
                        type="password"
                        data-type="password_old"
                        autocomplete='off'
                        autocapitalize='off'
                        autocorrect="off"
                        placeholder="Старый пароль"
                        value="yandex.ru"
                    )
                .profile__item
                    .profile__label Новый пароль
                    input.profile__value(
                        type="password"
                        data-type="password"
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        placeholder="Новый пароль"
                        value="inna@yandex.ru"
                    )
                .profile__item
                    .profile__label Повторите новый пароль
                    input.profile__value(
                        type="password"
                        data-type="password_again"
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        placeholder="Повторите новый пароль"
                        value="inna@yandex.ru"
                    )
            button(type="button").profile__btn.js-update Сохранить
