extends ../layout

block variables
    - const title = 'Профиль: изменение данных'
    - const name_css = 'profile'

block content
    main.profile
        .profile__left
            .profile__left__arrow
                i.fa.fa-long-arrow-left
        .profile__form
            .profile__heaed
                .profile__photo
                    img(class="profile__image" src="")
                    .profile__placeholder
                        .profile__placeholder__text Поменять
                            div аватар
                .profile__name Инна
            .profile__items
                .profile__item
                    .profile__label Почта
                    input.profile__value(
                        type="email"
                        data-type='email'
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        placeholder="Почта"
                        value="inna@yandex.ru"
                        )
                .profile__item
                    .profile__label Логин
                    input.profile__value(
                        type="text"
                        data-type='login'
                        data-size='3'
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        placeholder="Логин"
                        value="Inna")
                .profile__item
                    .profile__label Имя
                    input.profile__value(
                        type="text"
                        data-type='first_name'
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        placeholder="Имя"
                        value="Инна"
                        )
                .profile__item
                    .profile__label Фамилия
                    input.profile__value(
                        type="text"
                        data-type='last_name'
                        autocomplete="off"
                        autocapitalize="off"
                        autocorrect="off"
                        placeholder="Фамилия"
                        value="Бадреева"
                        )
                .profile__item
                    .profile__label Телефон
                    input.profile__value(
                        autocomplete="off"
                        data-type='phone'
                        type="tel"
                        placeholder="Телефон"
                        value="+7(909)967-30-30"
                        )
            button(type="button").profile__btn.js-update Сохранить
